{% extends "base.html" %}
{% block title %}
  Deliveries
{% endblock title %}
{% block content %}
  <h1 class="mt-4 mb-4 text-center">Delivery Information</h1>
  {% for place, products in grouped_deliveries.items %}
    <div class="card mb-4">
      <div class="card-header">
        <h2 class="card-title text-center">{{ place }}</h2>
      </div>
      <div class="card-body">
        <div class="row">
          {% for product, data in products.items %}
            {% if forloop.counter0|divisibleby:3 %}
            </div>
            <div class="row mt-4">
            {% endif %}
            <div class="col-md-4">
              <div class="card mb-4">
                <div class="card-header">
                  <h2 class="card-title text-center">
                    {{ product }} -
                    <br>
                    {{ data.balance }}
                  </h2>
                </div>
                <div class="card-body" style="max-height: 250px; overflow-y: auto">
                  <ul class="list-group" style="list-style: none; padding-left: 0">
                    {% for delivery in data.deliveries %}
                      <li class="mb-2 p-2 d-flex align-items-center">
                        <span class="col-auto circle {% if delivery.deliveryType == 'OUT' %}bg-danger{% elif delivery.deliveryType == 'IN' %}bg-success{% endif %}"></span>
                        <span class="col d-flex align-items-center">
                          <span class="w-100 text-center">{{ delivery.date|date:"Y-m-d" }}</span>
                        </span>
                        <span class="col-auto badge bg-primary rounded-pill" style="width: 85px;">{{ delivery.amount }}</span>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
  <style>
.circle {
width: 15px;
height: 15px;
border-radius: 50%;
display: inline-block;
}
  </style>
{% endblock content %}
