{% extends "base.html" %}
{% block title %}
  Index
{% endblock title %}
{% block content %}
  <div class="container">
    <h1 class="mt-4 mb-4 text-center">Stock Information</h1>
    <div class="row">
      {% for site, products in stocks.items %}
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-header">
              <h2 class="card-title text-center">{{ site }}</h2>
            </div>
            <div class="card-body">
              <ul class="list-group">
                {% for product, stock in products.items %}
                  <li class="list-group-item d-flex justify-content-between ">
                    <div class="text-start">
                      <span class="fw-bold">{{ product }}</span>
                    </div>
                    <div class="text-end" style="width: 85px;">
                      <span class="badge bg-primary rounded-pill" style="width: 100%;">{{ stock }}</span>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
