<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title %}
        Pearventory
      {% endblock title %}
    </title>
    <!-- Meta tags -->
    <meta charset="UTF-8" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
          rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
          rel="stylesheet" />
  </head>
  <body style="padding-bottom: 80px;">
    <div class="container-fluid px-2 pr-2 mb-10">
      <div class="custom-max-width">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <footer>
      <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="container-fluid justify-content-around custom-max-width">
          <a class="navbar-brand d-flex justify-content-center align-items-center btn btn-primary"
             style="width: 30%"
             href="{% url 'index' %}">Stock</a>
          <a class="navbar-brand d-flex justify-content-center align-items-center btn btn-primary"
             style="width: 30%"
             href="{% url 'delivery' %}">Deliveries</a>
          <a class="navbar-brand d-flex justify-content-center align-items-center btn btn-primary"
             style="width: 30%"
             href="{% url 'adddelivery' %}">New Delivery</a>
        </div>
      </nav>
    </footer>
  </body>
  <style>
    .custom-max-width {
      max-width: 1000px; /* Adjust this value to your preferred max-width */
      margin-left: auto;
      margin-right: auto;
    }
  </style>
</html>
